/* ------------------------------ */
/*        ESTILOS GENERALES       */
/* ------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px;
  color: white;
  position: relative;
}

/* TREBOLES */
body::before,
body::after {
  content: "🍀";
  font-size: 180px;
  position: absolute;
  opacity: 0.06;
  z-index: -1;
}

body::before {
  top: 30px;
  left: 30px;
}

body::after {
  bottom: 30px;
  right: 30px;
}

/* ------------------------------ */
/*            CONTENEDOR          */
/* ------------------------------ */

.contenedor {
  width: 900px;
  background: rgba(0, 0, 0, 0.18);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

/* ------------------------------ */
/*            TÍTULO              */
/* ------------------------------ */

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* ------------------------------ */
/*            FORMULARIO          */
/* ------------------------------ */

form {
  background: white;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
  color: #1e8449;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  display: grid;
  gap: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #2ecc71;
  font-size: 15px;
  background: #eaffea;
}

input:focus {
  border-color: #1e8449;
  outline: none;
}

.btn-agregar {
  width: 100%;
  background: #1e8449;
  color: white;
  padding: 14px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.btn-agregar:hover {
  background: #27ae60;
}

/* ------------------------------ */
/*            TARJETAS            */
/* ------------------------------ */

.contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #27ae60;
  padding: 25px;
  border-radius: 18px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.25);
}

.card .info h2 {
  font-size: 22px;
}

/* ------------------------------ */
/*            BOTÓN ELIMINAR      */
/* ------------------------------ */

.btn-eliminar {
  background: #e74c3c;
  border: none;
  padding: 12px 25px;
  border-radius: 14px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn-eliminar:hover {
  background: #ff6b5a;
}

/* ------------------------------ */
/*            RESPONSIVE          */
/* ------------------------------ */

@media (max-width: 768px) {
  .contenedor {
    width: 95%;
  }

  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .btn-eliminar {
    width: 100%;
  }
}
